@media (min-width: 1024px) {
  h1 {
    font-size: 2.5rem !important;
  }
}

footer {
  display: none !important;
}

#navbar > div:nth-child(2) > div > div > div > div > div:nth-child(2) {
  /* Removing the search bar */
  display: none !important;
}
